@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    font-family: 'Roboto', sans-serif;
}
header{
    font-size: 24px;
    color: #f9faf8;
}
.head{
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    margin: -9px;
}
.links{
    display: flex;
}
.main{
    background-color: #1f2937;
    margin: -9px;
    display: flex;
    padding: 10px;
}
.main h1{
    font-size: 48px;
    font-weight: bolder;
    color: #f9f8fa;
}
.links a{
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}
.box div{
    border: 2px solid blue;
    height: 50px;
    width: auto;
}
.box h1{
    font-size: 36px;
    color: #1f2937;
    font-weight: bolder;
    text-align: center;
}